# {{ ansible_managed }} - {{ ansible_date_time.epoch }}

$TTL 86400
$ORIGIN {{ domain }}.

@ IN SOA {{ domain }} root.{{ domain }} (
	{{ ansible_date_time.epoch }} ; Serial
	604800  ; Refresh
	86400   ; Retry
	2419200 ; Expire
	604800  ; Negative Cache TTL
)

{% if record_ns is defined %}
@		IN NS        {{ record_ns }}
{% endif %}

{% if records_a is defined %}
{% for records in records_a %}
{{ records.name }}		IN A         {{ records.ip }}
{% endfor %}
{% endif %}

{% if records_cname is defined %}
{% for cnames in records_cname %}
{{ cnames.name }}		IN CNAME     {{ cnames.cname }}
{% endfor %}
{% endif %}

{% if records_mx is defined %}
{% for mx in records_mx %}
{{ mx.name }}	IN MX {{ mx.priority }}     {{ mx.server }}
{% endfor %}
{% endif %}